.add_appointment_white-rectangle1{
    background-color: white; /* Set background color to white */
    width: 1107px; /* Set the width of the rectangle */
    height: 600px; /* Set the height of the rectangle */
    position:absolute; /* Use absolute positioning */
    top: 50%; /* Center vertically */
    left: 60px; /* Center horizontally and add offset */
    transform: translateY(-50%); /* Center vertically */
    border: 1px solid black; /* Optional: add a border to make it visible*/
    border-radius: 20px;
    font-family:'Outfit',sans-serif;

}

.Add_appointment_logo_Container{
    position: absolute;
    display: flex;
    width: 250px;
    height: 130px;
    background-color: #ffffff; 
    justify-content: center;
    left: 840px;
    top:29.5px;
}

.appointment_logo{
    position: absolute;
    width: 102px; /* Example width of the image */
    height: 92px; /* Maintain aspect ratio */
}

.Add_appointment_Optimize-text{
   margin-top:89px;
   font-size: 22px;
   font-weight: bold;
   color: #000;
}