/*Rectangle.css */
.blue-rectangle{

  background-color: #3237A7; /* Change the color to blue */
  color: white;
  padding: 10px;
  width: 1192px; /* Set a width for the rectangle */
  height: 600px; /* Set a height for the rectangle */
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Move to the center vertically */
  left: 50%; /* Move to the center horizontally */
  transform: translate(-50%, -50%); /* Offset by half of its width and height to center it */
  border-radius: 30px;
}

    

 
  
  